html {
    scroll-behavior: smooth;
}
body{
    font-family: 'Rosarivo', serif;
    background-color: #404040;
    color: #fcfffc;
}
h3{
    text-decoration-line: underline;
}
h3:hover{
    text-decoration: underline dashed;
}
nav{
    background: rgba(250, 225, 221, 0.8);
}
.row{
    padding-top: 30px;
}
mark{
    background-color: #404040;
    color: rgba(250, 225, 221, 1.0);
}
.svg{
    filter: invert(100%);
}
a{
    color:cornflowerblue;
}
#btn-back-to-top {
    position: fixed;
    bottom: 70px;
    right: 20px;
    display: none;
    background-color: rgba(250, 225, 221, 1.0);
}
#payment{
    background-color: rgba(250, 225, 221, 1.0);
}
footer {
    position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #303030;
  color: #efefef;
  text-align: center;
}