html {
  scroll-behavior: smooth;
}

body {
  background-color: #F5FEFD;
}

.odd{
  width: 15rem; background-color: #cdebf9; opacity: 90%;
}
.odd:hover{
  opacity: 100%;
}
.even{
  width: 15rem; background-color: #e5ddf3; opacity: 90%;
}
.even:hover{
  opacity: 100%;
}
.btn-light{
  border-radius: 50px; height: 75px; border: none; width: 75px;
}
h2{
  font-family: 'Roboto Mono', monospace;
}
::placeholder {
  font-size: small;
}
